/* COLORS */

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');

@font-face {
    font-family: 'departure-mono';
    src: url(../fonts/DepartureMono-Regular.woff2);
}

/* ANIMATIONS & INDECATORS */

a:hover {
    background-color: rgb(249, 163, 206);
}



/* GENERAL */

* {
   box-sizing: border-box; 
   padding: 0px;
   margin: 0px;
   color: black;

  font-family: 'departure-mono', sans-serif;
  font-weight: 400;
  font-style: normal;
    
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }

/* SPECIFICS */

#current {
    background-color: rgb(255, 205, 230);
}

#current-alt {
    color: hotpink;
}


.main {
    display: flex;
    flex-direction: column;
    margin: 15px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border: 2px solid rgb(209, 209, 209);
}

    nav {
        
    }
        header nav ul {
            display: flex;
            gap: 30px;
            list-style: none;
        }

        header nav li {
            background-color: rgb(247, 247, 247);
            padding: 4px;
            font-size: 1em;
        }

        header a {
            text-decoration: none;
        }

    .header-right {
        padding: 4px;
        font-size: 1em;
        background-color: rgb(247, 247, 247);
    }

section {

}




footer {
    margin-top: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    border: 2px solid rgb(209, 209, 209);
}

    .footer-left {
        display: flex;
            flex-direction: column;
            gap: 15px;
    }

        .none {
            list-style: none;
        }

        .contact-section {
            display: flex;
            flex-direction: column;
            gap: 5px;
            
        }

        .contact {
            font-size: 44px;

            font-family: "Jacquard 12 Charted", system-ui;
            font-weight: 400;
            font-style: normal;
        }

        .action-call {
            font-size: 22px;
        }

        .email {
            text-decoration: underline;
        }

        .signature {

        }

    .footer-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        

    }

        .footer-nav ul{
            display: flex;
            gap: 30px;
            
        }

        .footer-nav li {
            
        }

        .info {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: flex-end;
            font-size: 22px;
        }

            .img {
                font-size: 1.5em;
            }

            .thanks {
                font-size: 44px;
                font-family: "Jacquard 12 Charted", system-ui;
                font-weight: 400;
                font-style: normal;
            }

        .links {
            text-decoration: none;
            font-size: 1.5em;
            
            
        }

        .links ul {
            display: flex;
            gap: 30px;
            list-style: none;
            align-items: center;
            justify-content: flex-end;
        }

/* TOOLTIPS */
/* CODE VIA: https://www.w3schools.com/css/css_tooltip.asp */

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: hotpink;
    color: rgb(255, 238, 246);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
    transform: translateY(-10px);
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent hotpink;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* ABOUT ME PAGE */

  .page-about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    padding: 15px;

  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid rgb(209, 209, 209);
    text-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    

  } 
    .pfp img{
        padding-top: 15px;
        border-radius: 50%;
    }

    .name {
        padding-top: 5px;
        /* padding-left: 15px; */
        font-size: 25px;
    }

    .user-pronouns {

    }

    .box {
        display: flex;
        justify-content: center;
        border: 2px solid rgb(249, 163, 206);
        background-color: rgb(255, 205, 230);
        border-radius: 5px;
        height: 30px;

        padding: 2px;
    }

        .box a {
            text-decoration: none;
        }

  .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex;
    gap: 15px;

    

  }

    .read-me {
        border: 2px solid rgb(209, 209, 209);

    }

    .section-title {
        padding: 15px;
        font-size: 12px;
    }

    .ul ul {
        padding: 20px;
        list-style: none;


    }

    .pinned {
        border: 2px solid rgb(209, 209, 209);
    }

        .pinned-inner {
            display: flex;
        }

        .pin {
            border: 2px solid rgb(255, 205, 230);
            border-radius: 15px;
            margin: 15px;
            padding: 15px;
        }

        .pin p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            padding-top: 10px;
            
        }

        .pin a {
            text-decoration: none;
        }

        .pin img {
            height: 200px;
            
            
        }

    .github-heatmap {
        border: 2px solid rgb(209, 209, 209);
    }

    .github-heatmap .section-title a {
        text-decoration: none;
    }

    .github-heatmap img {
        padding: 20px;
    }

    /* MY WORK PAGE */

    .page-work {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(209, 209, 209);
        margin: 15px;
        padding: 15px;
    }

    .toc {
        display: flex;
        justify-content: right;
    }

    .toc ul{
        list-style: none;
    }


    .title {
        padding: 15px;
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    #portfolio {
        display: flex;
        gap: 15px;

        /* border: 5px solid blue; */
    }

    #soon {
        display: flex;
        gap: 15px;

        /* border: 5px solid red; */
    }

    .portfolio-work {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .work {
        border: 2px solid rgb(249, 163, 206);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        justify-content: center;
        align-items: center;
    }

    .work p {
        text-align: center;
    }

    .work img {
        height: 200px;

        /* border: 2px solid rgb(255, 238, 246); */
    }


/* MOBILE LAYOUT */

@media(max-width: 768px){ 

    body {
        width: 100vh;
        height: auto;
        padding: 0px;
        margin: 0px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        font-size: 10px;

        padding: 0px;
        margin: 0px;
    }

    section.page-about {
        display: flex;
        flex-direction: column;
       
        flex-wrap: wrap;
    }



}