/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');

@font-face {
    font-family: 'departure-mono';
    src: url(../fonts/DepartureMono-Regular.woff2);
}




/* COLORS */

/* https://coolors.co/878787-afafaf-d1d1d1-ff69b4-fc86c1-f9a3ce */

:root {
    --lightpink: #f9a3ce;
    --lightestpink: #ffcde6;
 
    --lightgrey: #d1d1d1;
    --lightestgray: #f7f7f7;
    --unavailable: #63c1e6;
    --available: #63E6BE;

    --hotpink: #ff69b4;
    --orchid: #d771d5;
    --pinklavender: #C681DE;
    --lavender: #AF79F5;
    --amethyst: #aa69ff;
}



/* @ ANIMATIONS & INDECATORS */

 :not(.contra-hire-me-button) > a:hover{
    background-color: var(--lightpink);
    
}

.contra-hire-me-button:hover {
    background-color: none;
    box-shadow: none;
}

/* nav a:hover {
    letter-spacing: 1.5px;
} */

#current {
    background-color: var(--lightestpink);
}

#current-alt {
    color: var(--hotpink);
}

#title {
    color: var(--hotpink);
    text-decoration: underline;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;

    height: 100%;

    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
}

#subtitle {
    font-size: 20px;
}

.subtitle {
        font-size: 20px;

}

.contact-top h1, .services-header h1, .work-top h1 {
    width: 100%;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    /* color: var(--hotpink); */

    border: 2px solid var(--lightgrey);
    background-color: var(--lightestgray);
    /* border-radius: 15px; */
}

.services-header, .work-top {
    margin: 15px;
    margin-bottom: 0px;
}




/* @ GENERAL */

* {
   box-sizing: border-box; 
   padding: 0px;
   margin: 0px;
   color: black;



  font-family: 'departure-mono', sans-serif;
  font-weight: 400;
  font-style: normal;
    
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    

}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }


/* SPECIFICS */

.main {
    display: flex;
    flex-direction: column;
    margin: 15px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border: 2px solid var(--lightgrey);
}

    nav {
        
    }
        header nav ul {
            display: flex;
            gap: 10px;
            list-style: none;
        }

        header nav li {
            background-color: var(--lightestgray);
            padding: 4px;
            font-size: 1em;
        }

        header a {
            text-decoration: none;
        }

    .header-right {
        padding: 4px;
        font-size: 1em;
        background-color: var(--lightestgray);
    }

.HERO {
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 600px; */
    
    /* border: solid 2px red; */

}




footer {
    margin-top: auto;
    margin-left: 15px;
    margin-right: 15px;
    /* margin-bottom: 15px; */
    display: flex;
    justify-content: space-between;
    padding: 20px;

    border: 2px solid var(--lightgrey)
}

    .footer-left {
        display: flex;
            flex-direction: column;
            gap: 15px;
    }

        .none {
            list-style: none;
        }

        .contact-section {
            display: flex;
            flex-direction: column;
            gap: 5px;
            
        }

        .contact {
            font-size: 44px;

            font-family: "Jacquard 12 Charted", system-ui;
            font-weight: 400;
            font-style: normal;
        }

        .action-call {
            font-size: 22px;
        }

        .email {
            text-decoration: underline;
        }

        .signature {

        }

    .footer-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        

    }

        .footer-nav ul{
            display: flex;
            gap: 30px;
            
        }

        .footer-nav li {
            
        }

        .info {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: flex-end;
            font-size: 22px;
        }

            .img {
                font-size: 1.5em;
            }

            .thanks {
                font-size: 44px;
                font-family: "Jacquard 12 Charted", system-ui;
                font-weight: 400;
                font-style: normal;
            }

        .links {
            text-decoration: none;
            font-size: 1.5em;
            
            
        }

        .links ul {
            display: flex;
            gap: 30px;
            list-style: none;
            align-items: center;
            justify-content: flex-end;
        }


    .gap {
        display: block;
        height: 15px;
        width: 100%;

    }

    .gap p {
        color: white;
    }

/* @ TOOLTIPS */
/* CODE VIA: https://www.w3schools.com/css/css_tooltip.asp */

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--hotpink);
    color: var(--lightestpink);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
    transform: translateY(-10px);
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--hotpink);
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* @ ABOUT ME PAGE */

  .page-about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    padding: 15px;

  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid var(--lightgrey);
    text-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    

  } 
    .pfp img{
        border-radius: 50%;
        width: 380px;
    }

    .pfp {
        padding-top: 15px;

    }

    .name {
        padding-top: 5px;
        /* padding-left: 15px; */
        font-size: 25px;
    }

    .user-pronouns {

    }

    .box {
        display: flex;
        justify-content: center;
        border: 2px solid var(--lightpink);
        background-color: var(--lightestpink);
        border-radius: 5px;
        height: 30px;

        padding: 2px;
    }

        .box a {
            text-decoration: none;
        }

  .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex;
    gap: 15px;

    

  }

    .read-me {
        border: 2px solid var(--lightgrey);

    }

    .section-title {
        padding: 15px;
        font-size: 12px;
    }

    .ul ul {
        padding: 20px;
        list-style: none;


    }

    .pinned {
        border: 2px solid var(--lightgrey);
    }

        .pinned-inner {
            display: flex;
        }

        .pin {
            border: 2px solid var(--lightpink);
            border-radius: 15px;
            margin: 15px;
            padding: 15px;
        }

        .pin p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            padding-top: 10px;
            
        }

        .pin a {
            text-decoration: none;
        }

        .pin img {
            height: 200px;
            
            
        }

    .github-heatmap {
        border: 2px solid var(--lightgrey);
    }

    .github-heatmap .section-title a {
        text-decoration: none;
    }

    .github-heatmap img {
        padding: 20px;
    }

    /* @ MY WORK PAGE */

    .my-work {
        display: flex;
        flex-direction: column;
    }

    .work-bottom {
        display: flex;
        /* gap: 15px; */

        padding: 15px;
        margin: 15px;
        margin-top: 0px;
    }

    .project-card {
        padding: 15px;
        margin: 15px;
        display: flex;
        flex-direction: column;

        border: 2px solid var(--lightgrey);

    }

    .project-card img {
        height: 200px;
        width: 442px;

        border-radius: 20px;
    }

    .project-card h1 {
        margin-top: 10px;
    }


    /* @ SERVICES PAGE */

    .services {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;

        padding: 15px;
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--lightgrey);
        border-radius: 15px;

        padding: 15px;
    }

    .service img {
        padding-bottom: 10px;
        width: 300px;
        height: 250px;
    }

    .service a {
        text-decoration: underline;
    }

    .service span {
        color: var(--available);
    }
    
        #unavaible {
            color: var(--unavailable);
        }
    

/* @ CONTACT PAGE */

.contact-main {
    display: flex;
    flex-direction: column;
}

.contact-top {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

    /* border: 2px solid var(--lightgrey); */


}

.contact-bottom {
    display: flex;
    justify-content: center;
    gap: 15px;

    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 15px;

    border: 2px solid var(--lightgrey);
    /* border-radius: 15px; */

}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 15px;
    margin: 15px;

    border: 2px solid var(--lightgrey);
    border-radius: 15px;


}

.contact-item {
    padding: 10px;
    margin: 5px;

    border: 2px solid var(--lightpink);
    border-radius: 15px;
    background-color: var(--lightestpink);


}

.contact-item h1 {
    padding-bottom: 5px;
}

.contact-item p {
    padding-bottom: 5px;
}

.contact-right {
    display: flex;
    justify-content: center;
    align-items: center;


    padding: 15px;
    margin: 15px;


    border: 2px solid var(--lightgrey);
    border-radius: 15px;


}

iframe {
    width: 640px;
    height: 1336px;
    margin: 0px;

}





/* @ MOBILE LAYOUT */

@media(max-width: 768px){ 

    /* @ MOBILE HOME & GENERALS*/

  body {
    max-width: 100dvw;
    overflow-x: hidden;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 20px;

 
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: left;

    /* border: 2px solid red; */

  }


  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;


    /* border: 2px solid blue; */

  }

  nav li {
    width: 100%;
  }

  nav li a {
    display: block;
  }

  .HERO {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .header-right {
    width: 100%;
    display: flex;
    justify-content: left;

    /* border: 2px solid green; */
  }


  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-nav ul{

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 5px;

    list-style: none;
  }

    /* @  ABOUT ME MOBILE */

section, .left, .right, .pinned, .pinned-inner, .github-heatmap, 
.main, .work-top, .work-bottom,
.page-services, .services, .service, 
.contact-main, .contact-top, .contact-bottom, .contact-left, .contact-right {
    display: flex;
    flex-direction: column;

}

section {
    width: 100dvh;
    overflow-x: hidden;
}

.pfp img{
    width: 150px;

}

.page-about {
    width: 100%;
    margin-top: 20px;
    padding: 0px;
}

.pinned, .pinned-inner, .right, 
.main, .work-top, .my-work, .work-bottom,
.page-services, .services, .service,
.contact-main, .contact-top, .contact-bottom, .contact-left, .contact-right {
    max-width: 100%;
}

.project-card {
    width: 100%;
    /* padding: px; */
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
}

.work-bottom {
    padding: 0px;
    margin-top: 15px;
}


.work-top, .work-bottom {
    margin-left: 0;
    margin-right: 0;
}

.pin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.pin img{
    height: 100px;
}

 .project-card img {
    height: 140px;
    width: 100%;
 }

.services-header {
    margin: 0px;
    margin-top: 15px;
}

.services {
    padding: 0px;
    margin-top: 15px;
}

.contact-top, .contact-bottom {
    padding: 0px;
    margin: 0px;

    padding-top: 15px;
    padding-bottom: 15px;
}

.contact-item p {
    word-wrap: break-word;
}

.contra-hire-me-button > a > img {
    width: 100%;
}

iframe {
    width: 100%;

}

.contact-right {
    padding: 0px;
    margin: 0px;

    border: none;
}

.contact-bottom {
    border: none;
}































}